<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Generator - Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <button id="backBtn" onclick="window.location.href='/'">⬅ Back</button>
            <h2>🤖 Hash Generator - Chatbot</h2>
        </div>
        
        <div class="messages" id="messages"></div>

        <div class="input-container">
            <input type="text" id="userInput" placeholder="Ask me anything..." autocomplete="off"/>
            <button id="sendBtn">🚀</button>
        </div>


    <script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>
<footer>
    <p>💻 Check out the source code on <a href="https://github.com/umangmtiwari/" target="_blank">GitHub</a> 🚀</p>
</footer>
</div>
</html>
